{% extends "layout.html" %}

{% block body %}
<div class="match-header">
    <div class="team">
        <h2><a href="/clube/{{ confronto['mandante']}}">{{ confronto["mandante"] }}</a></h2>
        <ul class="gols-list">
            {% for gol in gols if gol["clube"] == confronto["mandante"] %}
                <li>{{ gol["atleta"] }} {{ gol["minuto"] }}' {%if gol["tipo_de_gol"] != None %}({{ gol["tipo_de_gol"] }}){% endif%}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="score">
        <h1>{{ confronto["gols_mandante"] }} - {{ confronto["gols_visitante"] }}</h1>
        <p class="match-info">{{ confronto["data"] }} • {{ confronto["arena"] }} - {{ confronto["mandante_Estado"] }}</p>
        <p class="match-info">RODADA {{ confronto["rodada"] }}</p>
    </div>

    <div class="team">
        <h2><a href="/clube/{{ confronto['visitante'] }}">{{ confronto["visitante"] }}</a></h2>
        <ul class="gols-list">
            {% for gol in gols if gol["clube"] == confronto["visitante"] %}
                <li>{{ gol["atleta"] }} {{ gol["minuto"] }}' {%if gol["tipo_de_gol"] != None %}({{ gol["tipo_de_gol"] }}){% endif%}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<h3 class="section-title">Estatísticas</h3>
<div class="stats-container">

    {% set estat_mandante = estatisticas | selectattr("clube", "equalto", confronto["mandante"]) | first %}
    {% set estat_visitante = estatisticas | selectattr("clube", "equalto", confronto["visitante"]) | first %}

    <div class="stat-box">
        <h4>{{ confronto["mandante"] }}</h4>
        <ul>
            <li><strong>Chutes:</strong> {{ estat_mandante["chutes"] }}</li>
            <li><strong>No Alvo:</strong> {{ estat_mandante["chutes_no_alvo"] }}</li>
            <li><strong>Posse de Bola:</strong> {{ estat_mandante["posse_de_bola"] }}</li>
            <li><strong>Passes:</strong> {{ estat_mandante["passes"] }}</li>
            <li><strong>Precisão Passes:</strong> {{ estat_mandante["precisao_passes"] }}</li>
            <li><strong>Faltas:</strong> {{ estat_mandante["faltas"] }}</li>
            <li><strong>Cartões Amarelos:</strong> {{ estat_mandante["cartao_amarelo"] }}</li>
            <li><strong>Cartões Vermelhos:</strong> {{ estat_mandante["cartao_vermelho"] }}</li>
            <li><strong>Impedimentos:</strong> {{ estat_mandante["impedimentos"] }}</li>
            <li><strong>Escanteios:</strong> {{ estat_mandante["escanteios"] }}</li>
        </ul>
    </div>

    <div class="stat-box">
        <h4>{{ confronto["visitante"] }}</h4>
        <ul>
            <li><strong>Chutes:</strong> {{ estat_visitante["chutes"] }}</li>
            <li><strong>No Alvo:</strong> {{ estat_visitante["chutes_no_alvo"] }}</li>
            <li><strong>Posse de Bola:</strong> {{ estat_visitante["posse_de_bola"] }}</li>
            <li><strong>Passes:</strong> {{ estat_visitante["passes"] }}</li>
            <li><strong>Precisão Passes:</strong> {{ estat_visitante["precisao_passes"] }}</li>
            <li><strong>Faltas:</strong> {{ estat_visitante["faltas"] }}</li>
            <li><strong>Cartões Amarelos:</strong> {{ estat_visitante["cartao_amarelo"] }}</li>
            <li><strong>Cartões Vermelhos:</strong> {{ estat_visitante["cartao_vermelho"] }}</li>
            <li><strong>Impedimentos:</strong> {{ estat_visitante["impedimentos"] }}</li>
            <li><strong>Escanteios:</strong> {{ estat_visitante["escanteios"] }}</li>
        </ul>
    </div>

</div>


<h3 class="section-title">Cartões</h3>
<ul class="cards-list">
    {% for cartao in cartoes %}
        <li>{{ cartao["clube"] }} - {{ cartao["atleta"] }} {{ cartao["minuto"] }}' ({{ cartao["tipo_de_cartao"] }})</li>
    {% endfor %}
</ul>
{% endblock %}
