/* Seção de Ranking */
.ranking-section {
    margin-top: 20px;
    text-align: center;
}

.ranking-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Container das tabelas para flexbox */
.rankings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* espaço entre as tabelas */
    justify-content: center;
}

/* Tabela de classificação */
.ranking-table {
    border-collapse: collapse;
    width: 50px; /* largura de cada tabela */
    margin-bottom: 20px;
}

.ranking-table th,
.ranking-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
     background-color: #E6E6FA;
}

.ranking-table th {
    background-color: #E6E6FA;
}
