{% extends "layout.html" %}

{% block body %}

    <form action="/search" method="get">
      <div class="autocomplete-container">
      <input autocomplete="off" autofocus name="q" placeholder="Clube" type="text" id="clube">
      <ul id="autocomplete-list"></ul> </div>
      <select name="data">
        <option disabled selected value="">Ano</option>
        {% for data in datas %}
          <option value="{{ data }}">{{ data }}</option>
        {% endfor %}
      </select>
      <button type="submit">Pesquisar</button>
    </form>

    <div>
      <h2 style="text-align: center;">Ranking geral do Campeoneato Brasileiro de 2003 - 2023</h2>
      <table>
        <thead>
          <tr>
            <th>Posição</th>
            <th>Clube</th>
            <th>Jogos</th>
            <th>Pontos</th>
            <th>Vitórias</th>
            <th>Empates</th>
            <th>Derrotas</th>
            <th>GM</th>
            <th>GC</th>
            <th>SG</th>
          </tr>
        </thead>
        <tbody>
          {% for ranking in rankings %}
            <tr>
              <td>{{ ranking["posicao"] }}</td>
              <td><a href="/clube/{{ ranking['clube'] }}">{{ ranking["clube"] }}</a></td>
              <td>{{ ranking["total_jogos"] }}</td>
              <td><strong>{{ ranking["pontos"] }}</strong></td>
              <td>{{ ranking["vitorias"] }}</td>
              <td>{{ ranking["empates"] }}</td>
              <td>{{ ranking["derrotas"] }}</td>
              <td>{{ ranking["gm"] }}</td>
              <td>{{ ranking["gc"] }}</td>
              <td>{{ ranking["sg"] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script>

      const ALL_CLUBS = {{ clubes_json | tojson }}; // This line is crucial

      let input = document.querySelector('#clube');
      let autocompleteList = document.querySelector('#autocomplete-list');

      input.addEventListener('keyup', () => {
        let query = input.value.toLowerCase();
        let html = '';
        if (query.length > 0) {
          const filteredClubs = ALL_CLUBS.filter(club => club.toLowerCase().startsWith(query));

          if (filteredClubs.length > 0) {
            for (let club of filteredClubs) {
              html += `<li onclick="selectClub('${club.replace(/'/g, "\\'")}')">${club}</li>`;
            }
          }
        }
        autocompleteList.innerHTML = html;
        autocompleteList.style.display = html ? 'block' : 'none';
      });

      function selectClub(clubName) {
        input.value = clubName;
        autocompleteList.innerHTML = '';
        autocompleteList.style.display = 'none';
      }

      document.addEventListener('click', (event) => {
        if (!event.target.closest('.autocomplete-container')) {
          autocompleteList.style.display = 'none';
        }
      });

    </script>


{% endblock %}
