<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>jogos</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRzSmPjLZuYFs14L9v4aWchB0w/Ez/rZec=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjEML3rWJcS/J0F3X1y4m3g0e6h7gR4p4Fz0YJg1z4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>